h1,
h2,
h3 {
  color: #44558f;
  font-family: "DynaPuff", cursive;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
  background: #ffe495;
}

.search-form {
  margin-bottom: 20px;
  width: 100%;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}
#current-temperature {
  font-size: 45px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -17px;
}

.weather-forecaste-date {
  font-size: 13px;
  padding-top: 20px;
}

.coded-by {
  color: #ffc97b;
  max-width: 100%;
}
#github-link {
  text-decoration: none;
  outline: none;
}

#githut-link.hover {
  cursor: pointer;
  color: #44558f;
}
.units .active {
  color: #44558f;
  cursor: default;
  text-decoration: none;
}
